.Form-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 76vh;
    height: auto;
    max-height: 86%;
    overflow-y: auto;
    text-align: center;
    padding: 10px;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 20px;
}

.Form-Container::-webkit-scrollbar {
    width: 1vh;
}

.Form-Container::-webkit-scrollbar-track {
    background: #b8b8b8;
    border-radius: 10px;
}

.Form-Container::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 10px;
}

.Form-Container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'HolenVintage';
    src: url('../assets/HolenVintage.otf') format('opentype');
}

@font-face {
    font-family: 'Eracake';
    src: url('../assets/fonts/Eracake.otf') format('opentype');
}

.Form-Container h2 {
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    font-family: 'HolenVintage', Arial, sans-serif;
}

.Form-Container p {
  
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 0.5vh solid #ED8936;
}

.Form-Container .ImageOption {
    position: relative;
    display: flex;
}

.Form-Container .votedCard {
    background-color: orange;
    background-size: 100% 100%;
    height: 26vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.formRadio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    border-top: 0;
    border-right: 0;
    border-color: rgba(0, 0, 0, 0.648);
}

.formRadio:checked {
    border-top: 0;
    border-right: 0;
    border-color: rgba(0, 0, 0, 0.619);
    background-color: #FFD400;
    border-radius: 50%;
}

.formRadio:checked::before {
    font-family: Arial, sans-serif;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Form-Header {
    background-color: #ED8936;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.Form-Description {
    font-size: larger;
    margin: 10px 0;
}

.Form-Option {
    margin-bottom: 20px;
    position: relative;
}

.Form-Option .formRadio {
    margin-right: 10px;
}

.Form-Option-Image {
    margin-top: 10px;
}

.Form-Button {
    margin-top: 20px;
}

.TelevisorAnuncio3, .TelevisorAnuncio4{
    display: flex;
  
    cursor: pointer;
    position: absolute;
    top: 5%;
    height: 66%;
    width: 17%;
    background-size: 100% 100%;
    background-position: center;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
  }
  .TelevisorAnuncio3{
    left: 5%;
  }
  .TelevisorAnuncio4{
    right: 5%;
  }

  .TextOptionContainer{
    flex-direction: column;
    width: 56%;
    align-items: flex-start;
  }
  .ImageOptionContainer{
    width: 40%;
  }

  .textForm{
    font-size: medium;
  }

  @media (max-width: 1150px){
    .Form-Container{
      width: 50%;
    }

    .TelevisorAnuncio3{
        width: 20%;
        left: 1%;
    }
    .TelevisorAnuncio4{
        width: 20%;
        right: 1%;
    }
  }

  @media (max-width: 912px){
    .TelevisorAnuncio3, .TelevisorAnuncio4{
      display: none;
    }
    .Form-Container{
        width: 90%;
      }
  }

  @media (max-width: 768px) {
        .Form-Container{
            width: 90%;
        }
    }

    @media (max-width: 478px) {
        .Form-Container{
            width: 98%;
        }
        .formRadio {
            width: 18px;
            height: 18px;
        }

        .TextOptionContainer{
            width: 100%;
        }
        .ImageOptionContainer{
            width: 100%;
        }

        .sectionContainer{
            flex-direction: column;
        }
        .textForm{
            font-size: small;
        }
    }
    @media (max-height: 476px) {
        .Voting-Container{
            max-height: 77%;
        }
        .TelevisorAnuncio3, .TelevisorAnuncio4{
            display: none;
          }
        .Form-Container{
            width: 98%;
            min-height: 94%;
        }
        .formRadio {
            width: 18px;
            height: 18px;
        }

        .TextOptionContainer{
            width: 100%;
        }
        .ImageOptionContainer{
            width: 100%;
        }

        .sectionContainer{
            flex-direction: row;
        }
        .textForm{
            font-size: small;
        }
    }