/* Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.home-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}

.Card, .litCard {
  width: 90%;
  height: 45vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/orgaCard.jpg");
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.litCard {
  transform: scale(0.72);
  width: 100%;
}

.video-container {
  width: 56vh;
  height: 36vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
}

.Bolp {
  align-items: center;
  justify-content: center;
  width: 37vh;
  height: 8vh;
  border: 7px solid #E69001;
  border-radius: 10vh;
  background-color: #FFCC4D;
  color: #000;
  font-weight: bold;
}
.Bolp span{
  font-size: 1.5rem;
}

.ytAvatar {
  transform: scale(0.85);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .video-container {
    width: 45vh;
    height: 30vh;
  }

  .Bolp {
    transform: scale(0.8);
  }
  .ytAvatar {
    transform: scale(0.75);
  }
}

@media (max-width: 478px) {
  .video-container {
    width: 40vh;
    height: 25vh;
  }

  .Bolp {
    transform: scale(0.9);
  }
  .ytAvatar {
    transform: scale(0.75);
  }
}