
  .IntroVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .IntroVideo-Container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: black;
    z-index: 20;
    transition: opacity 1s ease-in-out;
  }
  
  .IntroVideo-Container.fade-out {
    opacity: 0;
  }

  .LoadingScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 9999;
    background-color: black;
  }

  .PlayButtonContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 18vh;
    cursor: pointer;
    z-index: 22;
    background: url('../assets/buttons/play-button.png') no-repeat;
    background-size: 100% 100%;
  }

  .PlayButton {
    width: 40vh; /* Adjust size as needed */
    height: 10vh; /* Adjust size as needed */
  }

  .PlayButtonText {
    position: absolute;
    top: -30px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem; /* Adjust size as needed */
    text-align: center;
  }

  .PlayButtonIcon {
    position: absolute;
    top: 50%;
    left: 14.5%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem; /* Adjust size as needed */
    pointer-events: none; /* Ensure the icon does not interfere with clicking the button */
  }

  @media (max-width: 768px) {
    .PlayButtonContainer {
      width: 30vh;
      height: 12vh;
    }
    .PlayButtonIcon{
      font-size: 1rem;
    }
  }