.Voting-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }



.SubContainer::-webkit-scrollbar {
    width: 1vh;
}

.SubContainer::-webkit-scrollbar-track {
    background: #b8b8b8;
    border-radius: 10px;
}

.SubContainer::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 10px;
}

.SubContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'HolenVintage';
    src: url('../assets/HolenVintage.otf') format('opentype');
}
@font-face {
    font-family: 'Eracake';
    src: url('../assets/fonts/Eracake.otf') format('opentype');
}

.welcomeCard, .VoteBox{
    width: 94%;
    background-color: #DADADA;
    height: auto;
    font-weight:bolder;
    border-bottom: 0.5vh solid #C12000;
    border-right: 0.5vh solid #C12000;
}

.VoteBox{
    margin-top: -1vh;
    height: auto;
    justify-content: center;
}

.header{
    text-transform: uppercase;
    width: 100%;
    color: #fff;
}
.container{
    font-size: 21px;
    height: auto;
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 0.5vh solid #ED8936;
}



.ImageOption{
    position: relative;
    display: flex;
}

.votedCard {
    background-color: orange;
    background-size: 100% 100%;
    height: 26vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.votingRadio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    border-top: 0;

    border-right: 0; 
    border-color: rgba(0, 0, 0, 0.648);
}

.votingRadio:checked {
    border-top: 0;
    border-right: 0; 
    border-color: rgba(0, 0, 0, 0.619);
    background-color: #FFD400;
    border-radius: 50%;
}

.votingRadio:checked::before {
    font-family: Arial, sans-serif;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
