.Voting-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }

@font-face {
    font-family: 'HolenVintage';
    src: url('../assets/HolenVintage.otf') format('opentype');
}

.welcomeCard, .VoteBox{
    width: 30%;
    background-color: #DADADA;
    height: 20vh;
    font-weight:bolder;
    border-bottom: 0.5vh solid #C12000;
    border-right: 0.5vh solid #C12000;
}

.VoteBox{
    margin-top: -1vh;
    height: auto;
}

.header{
    text-transform: uppercase;
    width: 100%;
    color: #fff;
}
.container{
    font-size: 21px;
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 0.5vh solid #ED8936;
}



.ImageOption{
    position: relative;
    display: flex;
}

.votedCard {
    background-image: url("../assets/bgVoted.jpg");
    background-size: 100% 100%;
    height: 26vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    border-top: 0;

    border-right: 0; 
    border-color: rgba(0, 0, 0, 0.648);
}

input[type="radio"]:checked {
    border-top: 0;
    border-right: 0; 
    border-color: rgba(0, 0, 0, 0.619);
    background-color: #FFD400;
    border-radius: 50%;
}

input[type="radio"]:checked::before {
    font-family: Arial, sans-serif;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
