/* App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; 
  z-index: 10;
}

.parfo{
  height: 100%;
  width: 100%;
  border: 2px solid blue;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative; 
  z-index: 2;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-background {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url('./assets/bg/bgHome.png');
  background-size: 100% 90%;
  background-position: bottom;
  background-attachment: fixed;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.home-background.fadeOut {
  opacity: 0;
}

.voting-background {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url('./assets/bg/bgVoting.png');
  background-size: 100% 90%;
  background-position: bottom;
  background-attachment: fixed;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.voting-background.fadeOut {
  opacity: 0;
}

.results-background {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url('./assets/bg/bgResults.png');
  background-size: 100% 90%;
  background-position: bottom;
  background-attachment: fixed;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.results-background.fadeOut {
  opacity: 0;
}

.transition-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.transition-screen.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-height: 384px) {
  .home-background {
    background-size: 300% 90%;
  }
}

@media (max-width: 768px){
  .home-background{
    background-size: 200% 90%;
  }
}

@media (max-width: 478px) {
  .home-background{
    background-size: 300% 90%;
  }
}

@media (max-height: 384px) {
  .voting-background {
    background-size: 300% 90%;
  }
}

@media (max-width: 768px){
  .voting-background{
    background-size: 200% 90%;
  }
}

@media (max-width: 478px) {
  .voting-background{
    background-size: 300% 90%;
  }
}

@media (max-height: 384px) {
  .results-background {
    background-size: 300% 90%;
  }
}

@media (max-width: 768px){
  .results-background{
    background-size: 200% 90%;
  }
}

@media (max-width: 478px) {
  .results-background{
    background-size: 300% 90%;
  }
}